version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: npm run start:dev
    environment:
      NODE_ENV: development
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
    ports:
      - "3000:3000"
      - "9229:9229" # Debug port
